<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="ignoreFailedSources" value="true" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="AhmadNexus" value="http://localhost:8081/repository/nuget-hosted/index.json" allowInsecureConnections="True" />
  </packageSources>
  <packageSourceCredentials>
    <AhmadNexus>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="Ahmad@123" />
    </AhmadNexus>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="AhmadNexus">
      <package pattern="AhmadBase.*" />
      <package pattern="Ahmad.Base.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
